@page "{handler?}"
@model IndexModel
@using WebApplication8.Models
@{
    ViewData["Title"] = "Home page";
}


<form method="post" class="decor">
    <div class="form-inner">
        <h3>Заполнение формы</h3>
        <input type="text" placeholder="Автор" required name="author">
        <div class="date">
            <input class="in-dmy" type="text" placeholder="день" />
            <input class="in-dmy" type="text" placeholder="месяц" />
            <input class="in-dmy" type="text" placeholder="год" />
        </div>
        <input class="in-event" type="text" required placeholder="Событие" name="event" />
        <input class="in-plus_event" type="text" placeholder="Доп. событие" name="plus-event" />
        <input class="in-topic" type="text" required placeholder="Тема" name="topic" />
        <input class="in-plus_topic" type="text" placeholder="Доп. тема" name="plus-topic" />
        <input type="text" class="in-text_loc in-folder" placeholder="Номер папки" required name="folder" />
        <input type="text" class="in-text_loc in-location" placeholder="Местоположение" required name="place" />
        @*не могу найти ошибку*@
        @*<select class="option">
            @foreach (MyType type in Model.MyTypes)
            {
                <option>@type.MyName</option>
            }
        </select>*@
        <select class="option">
            <option>Hi</option>
        </select>
        <input type="checkbox" id="custom-checkbox">
        <label for="custom-checkbox">Публичный документ</label>
        <div class="picture">
            <div class="pic1" name="pic1"><input type="file" /></div>
            <div class="pic2" name="pic2"><input type="file" /></div>
            <div class="pic3" name="pic3"><input type="file" /></div>
        </div>
        <textarea placeholder="Комментарий" rows="3"></textarea>
        <input type="submit" class ="my_btn" value="Отправить" asp-page-handler="Save">
    </div>
</form>
