/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    box-sizing: border-box;
}

body {
    background-color: #c7c7ff;
}

.decor {
    position: relative;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}

.date {
    display: flex;
    justify-content: center;
}

.in-dmy {
    border: 1px solid transparent;
    height: 30px;
    border-radius: 40px;
    padding-left: 20px;
    line-height: 20px;
    display: inline;
    background: white;
    min-width: 10%;
    max-width: 15%;
}

.form-inner label {
    display: block;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.form-inner input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.label {
    justify-content: center;
}

#custom-checkbox + label {
    position: relative;
    margin: 20px 0;
    text-transform: none;
    cursor: pointer;
}

    #custom-checkbox + label:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: text-top;
        background: #E9EFF6;
    }

#custom-checkbox:checked + label:before {
    background: #3f3f4e;
}

#custom-checkbox:checked + label:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 20px;
    top: 9px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.form-inner {
    padding: 50px;
}

    .form-inner input, .form-inner textarea {
        display: block;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 10px;
        background: #E9EFF6;
        line-height: 40px;
        border-width: 0;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
    }

        .form-inner input[type="submit"] {
            margin-top: 30px;
            background: #3f3f4e;
            border-bottom: 4px solid #ccccff;
            color: white;
            font-size: 14px;
        }

    .form-inner textarea {
        resize: none;
    }

    .form-inner h3 {
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #707981;
    }

input:hover, textarea:hover{
   
    background: #e9e9ff;
}

.picture {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.pic1, .pic2, .pic3 {
    margin: 10px;
    border-radius: 40px;
    width: calc(30% - 24px);
    display: inline-block;
}
