*{
    margin:0;
    padding:0;
    
}
body {
    background-color: #c7c7ff;
    height: 100%;
}

header {
    /*height: 25px;
    background: white;
    position: fixed; 
    left: 0;
    top: 0; 
    padding-left: 10px;
    width: 100%;
    border: 1px solid #333;
    */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 12px 0 22px;
    min-height: 64px;
    /*min-width: 960px;*/
    box-sizing: border-box;
    background: white;
}
.container {
    max-width: 100%;
    padding:0px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}
.place {
    align-content: center;
    justify-content: center;
}
.author, .comments, .date, .event, .topic, .locationfolder, .location, .folder, .public, .picture, .plus_event, .plus_topic {
    margin: 1%;
}
.in-dmy {
    border: 1px solid transparent;
    height: 30px;
    border-radius: 40px;
    padding-left: 20px;
    line-height: 20px;
    display: inline;
    background: white;
}
.in-dmy-1 {
    
    min-width: 10%;
    max-width: 15%;
}

.in-location, .in-text, .in-folder, .in-event, .in-topic, .in-author, .in-public, .in-plus_event, .in-plus_topic {
    min-width: 50%;
    max-width: 70%;
    border: 1px solid transparent;
    height: 30px;
    border-radius: 40px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    display: inline;
    background: white;
}
.in-public {
    min-width: 2%;
    max-width: 10%;
    height: 20px;
}
.in-folder {
    min-width: 30%;
    max-width: 40%;
}
.in-date {
    min-width: 30%;
    max-width: 70%;
    border: 1px solid transparent;
    height: 30px;
    border-radius: 40px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    display: inline;
    background: white;
}
.flaw {
    color: red;
    padding-left: 20px;
    font-size: 15px
}
.public{
    margin-top:3%;
}
.l-public {
    color: red;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.picture {
    /*display: table;
    width: 100%;
    height: 20%;
    padding: 1%;*/
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.pic1, .pic2, .pic3 {
    /*
    height: 34px;
    width: 33.333%;
    border: 1px solid #333;
    display: table-cell;
    border-radius: 40px;
        */
    margin: 10px;
    min-height: 80px;
    max-height: 120px;
    border-radius: 40px;
    border: 1px solid #333;
    width: calc(33% - 24px);
    display: inline-block;
}
span {
    display: block;
    text-align: center;
        width: 100px;
    height: 100%;
    margin: 0 auto;
}
.text_comm {
    min-width: 50%;
    max-width: 70%;
    max-height:300px;
    padding: 6px 12px 6px 6px;
    font-size: 17px;
    border-radius: 6px;
    margin:20px;
}
input:focus, textarea:focus {
    border: 1px solid #00aefa;
    background-color: #fff;
    box-shadow: 1px 1px 1px 0 #c0c0c0;
}
input:hover, textarea:hover, .pic1:hover, .pic2:hover, .pic3:hover {
    border-color: #00aefa;
    background: #e9e9ff;
}
.btn-btn {
    min-width: 100%;
    max-width: 100%;
    padding: 5px;
    font-size: 17px;
    border-radius: 6px;
    background-color: white;
    color: #333;
    border: 1px solid;
}
    .btn-btn:hover {
        background-color: #e9e9ff;
    }
.footer {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    width: 100%;
}